body {
    font-family: sans-serif;
}
button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}
button:hover,button:active {
    background-color: antiquewhite;
}
.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: #a71212;
}
.errors label {
    color: #a71212;
}